from settings import *

REMOTE_DB = 'mysql://autowifi:password@hostname/db_name'

# Allow local tests : The interface is not modified by the program but is used as the "managed_if"
DUMMY_MANAGED_IF = 'wlan0'
